.animate-load {
    animation: animateLoadIcon 2s infinite;
}

@keyframes animateLoadIcon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #14113E inset !important;
    -webkit-box-shadow: 0 0 0px 1000px #14113E inset !important;
    -webkit-text-fill-color: #fff !important;
    -webkit-background-fill-color: #14113E !important;
}